footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    max-width: inherit;
    background-color: #1e416e;
    border: solid #eee 2px;
    border-radius: 0px 0px 5px 5px;
    border-bottom: 0;
}

footer .footer-talk {
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 9999px) and (min-width: 994px) {
    footer .footer-talk {
        padding: 20px;
    }
}

@media only screen and (max-width: 993px) and (min-width: 768px) {
    footer .footer-talk {
        padding: 20px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 0px) {
    footer .footer-talk {
        padding: 0;
        font-size: .5rem;
        word-break: break-all;
    }
}
