.community {
    position: relative;
    display: block;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 100%;
    max-height: 100%;
    font-family: Georgia, Times New Roman, serif;
}

.community-fragment {
    list-style-type: none;
}

.xioudown-banner {
    color: #fff;
    width: 100%;
}

.community ul li h4 {
    color: #1e416e;
}

.graceful {
    background-color: rgb(240, 240, 255);
    color: #000;
}

.uplifting {
    border: solid rgb(208, 224, 240) 1px;
    background-color: rgb(224, 240, 255);
    padding: 20px;
    color: #000;
}

.uplifting .pallet {
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 5px;
    color: #676d73;
}

.uplifting .pallet article h4 {
    color: #1e416e;
    font-weight: bolder;
}

.uplifting .pallet article p {
    color: #676d73;
}

.uplifting-inverted {
    padding: 20px;
}

.uplifting-inverted .pallet {
    background-color: rgb(224, 240, 255);
    padding: 20px 10px;
    border-radius: 5px;
    color: #676d73;
}

.uplifting-inverted .pallet article h4 {
    color: #1e416e;
    font-weight: bolder;
}

@media only screen and (min-width: 1200px) {
    .xioudown-banner {
        background: linear-gradient(to right,
        rgba(224,224,224,1),
        rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1),
        rgba(224,224,224,1)) center no-repeat;
        padding: 90px 0 100px 0;
        margin-top: 20px;
    }

    .parallax-container {
        width: 100%;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .community-fragment {
        padding: 250px 0;
    }

    .community-fragment article h4 {
        font-size: 2rem;
    }

    .community-fragment .frag-img-container {
        min-width: 200px;
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .xioudown-banner {
        background: linear-gradient(to right,
        rgba(224,224,224,1),
        rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1),
        rgba(224,224,224,1)) center no-repeat;
        padding: 90px 0 100px 0;
        margin-top: 20px;
    }

    .parallax-container {
        width: 100%;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .community-fragment {
        padding: 125px 0;
    }

    .community-fragment article h4 {
        font-size: 2rem;
    }

    .community-fragment .frag-img-container {
        display: inline-block;
    }
}

@media only screen and (max-width: 767px) {
    .xioudown-banner {
        background: rgba(30, 65, 110, 1);
        padding: 10px 0;
        margin-top: 10px;
    }
    .xioudown-banner h3 {
        font-size: 1.5rem;
    }

    .xioudown-banner h5 {
        font-size: 1.5rem;
    }
    .community-fragment {
        padding: 45px 0;
    }

    .community-fragment .frag-img-container {
        display: block;
    }
}
