.community {
    position: relative;
    display: block;
    justify-content: center;
    margin: auto;
    border-right: solid #eee 2px;
    border-left: solid #eee 2px;
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 100%;
    max-height: 100%;
}

.community-fragment {
    list-style-type: none;
}

.xioudown-banner {
    color: #fff;
    width: 100%;
}


@media only screen and (min-width: 768px) {
    .xioudown-banner {
        background: linear-gradient(to right,
        rgba(224,224,224,1),
        rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1),
        rgba(224,224,224,1)) center no-repeat;
        padding: 90px 0 100px 0;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .xioudown-banner {
        background: rgba(30, 65, 110, 1);
        padding: 10px 0;
        margin-top: 10px;
    }
    .xioudown-banner h3 {
        font-size: 1.5rem;
    }

    .xioudown-banner h5 {
        font-size: 1.5rem;
    }

}
