@media only screen and (min-width: 768px) and (max-width: 9900px){
    .page-banner {
        position: relative;
        display: block;
        justify-content: center;
        margin: auto;
        border-right: solid navy 15px;
        border-left: solid  navy 2px;
        border-bottom: solid navy 1px;
        box-sizing: border-box;
    }

    .page-banner .banner-header {
        padding: 15px;
        margin: auto;
        width:100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) and (min-width:0px){

    #page_banner {
        display: none;
    }

    #page-banner-logo{
        display: none;
    }

    #page-banner-moto{
        display: none;
    }
}
