article {
    margin: 20px auto;
    max-width: 100%;
    word-wrap: break-word;
}

article hr {
    justify-self: center;
    margin: 10px 0;
    width: 80%;
    max-width: 100%;
}

.article-summary {
    padding: 20px;
    margin: auto;
    width: 50%;
    display: inline-block;
}

.article-summary h4 {
    padding: 20px;
}

.article-slide-container {
    height: 50%;
    padding: 20px;
    margin: auto;
    width: 50%;
    display: inline-block;
}