.profile-page {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height:auto;
    background-color: #fff;
}

.profile-page {
}

.profile-specs{
    max-width: 100%;
    width: 100%;
}

.profile-specs ul li {
    margin: auto;
    list-style-type: none;
    font-weight: bold;
}

.profile-contact-section {
    word-wrap: break-word;
}

@media only screen and (min-width: 768px) {
    .profile-contact-section {
        border-left: solid #ccc 1px;
        background-color: #dddddd;
    }

    .profile-contact-list {
        background-color: #eeeeee;
        font-family: Audrey, Helvetica, sans-serif;
    }
}
