@media only screen and (min-width: 1200px) and (max-width: 9990px) {
    #app-content {
        min-height: 100vh;
        max-width: 1200px;
        min-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    #app-content {
        min-height: 100vh;
        max-width: 1024px;
        min-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    body, html {
        position: relative;
        min-height: calc(100vh + 4rem);
        margin: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #app-content {
        min-width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}
@media only screen and (max-width: 767px) {
    #app-content {
        min-height: 100vh;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        position: relative;
    }
}

body, html {
    position: relative;
    min-height: calc(100vh + 4rem);
    margin: 0;
}

body {
    background: linear-gradient(to right,rgba(224,224,224,1), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0),
    rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(224,224,224,1)) center no-repeat;
    background-size: cover;
    position: relative;
    min-height: calc(100vh + 4rem);
    padding-bottom: 200px;
}
