body, html {
    position: relative;
    min-height: calc(100vh + 4rem);
    margin: 0;
    top: 0;
    left: 0;
}

.dynamic-nav {
    background-color: #eee;
    transition: font-size 1s;
}

.dynamic-nav span {
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    #app-content {
        min-height: 100vh;
        height: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    body {
        background-size: cover;
        position: relative;
        min-height: calc(100vh + 4rem);
        padding-bottom: 200px;
    }

    .dynamic-nav ul li {
        transition: font-size .35s;
    }

    .dynamic-nav ul li:hover {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    #app-content {
        min-height: 100vh;
        max-width: 1024px;
        min-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    body {
        background: rgba(255, 255, 255, 1);
        background-size: cover;
        position: relative;
        min-height: calc(100vh + 4rem);
        padding-bottom: 200px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #app-content {
        min-width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    body {
        background: rgba(255, 255, 255, 1);
        background-size: cover;
        position: relative;
        min-height: calc(100vh + 4rem);
        padding-bottom: 200px;
    }
}
@media only screen and (max-width: 767px) {
    #app-content {
        min-height: 100vh;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        position: relative;
    }
    body {
        background: none;
    }
}
