.vert-nav .nav-item a{
    transition: background-color .15s;
}


.navbar-nav{
    width: 100%;
}

.vert-nav span {
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(33, 65, 110, 1), rgba(0, 0, 0, 0));
}

.vert-nav ul li {
    max-width: inherit;
    width: 100%;
    height: inherit;
    font-family: Georgia, Times New Roman, serif;
}

.vert-nav ul a {
    color: navy;
    text-decoration: none;
    height: inherit;
    max-width: inherit;
}

.vert-nav a:hover {
    color: white;
    text-decoration: none;
    background-color: navy;
}
