@media only screen and (min-width: 768px) and (max-width: 1900px){
    .page-banner {
        position: relative;
        display: block;
        justify-content: center;
        margin: auto;
        border-right: solid navy 15px;
        border-left: solid  navy 2px;
        box-sizing: border-box;
    }

    .page-banner .banner-header {
        padding: 15px;
        margin: auto;
        width:100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) and (min-width:50px){

    #page-banner-logo{
        display: none;
    }
    .page-banner{
        height: 75px;
        width: 125px;
    }

    .page-banner .banner-header{
        margin-left: auto;
        margin-right: auto;
    }
}