@media only screen and (min-width: 768px) {
    .hrzl-nav {
        height: 65px;
        max-height: 65px;
    }
}

.hrzl-nav {
    border: solid #eee 1px;
    border-radius: 0 0 5px 5px;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background-color: #eee;
}

.hrzl-nav .navbar-header {
    background-color: #eee;
}

.hrzl-nav ul a {
    color: #000080;
    text-decoration: none;
    transition: background-color .15s;
    background-color: #eee;
}

.hrzl-nav ul li {
    top: 50%;
}

.hrzl-nav ul a:hover {
    color: white;
    background-color: #000080;
    text-decoration: none;
}

.hrzl-nav .navbar-nav {
    background-color: #eee;
}

.hrzl-nav .nav-logo {
    margin: auto;
    width: 200px;
    border-radius: 5px;
}

.hrzl-nav .nav-separator {
    top: 25%;
    color: #ddd;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
}
