.hrzl-nav {
    border: solid #eee 1px;
    border-radius: 0 0 5px 5px;
    left: 0;
    right: 0;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
}

.hrzl-nav ul a {
    color: #000080;
    text-decoration: none;
    transition: background-color .15s;
}

.hrzl-nav ul a:hover {
    color: white;
    background-color: #000080;
    text-decoration: none;
}

.hrzl-nav .nav-logo {
    margin: auto;
    width: 200px;
}
