article {
    margin: 20px auto;
    margin: 0px;
    width: 50%;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-block;
}


.article-summary {
    padding: 20px;
    margin: auto;
    width: 100%;
}

.article-summary h4 {
    padding: 20px;
}

.article-link {
    text-decoration: none;
    cursor: pointer;
    color: navy;
}

.article-link:hover {
    color: #eee;
}
