.vert-nav .nav-item a{
    transition: background-color .15s;
}


.navbar-nav{
    width: 100%;
}

.vert-nav ul li {
    max-width: inherit;
    width: 100%;
    height: inherit;
}

.vert-nav ul a {
    color: navy;
    text-decoration: none;
    height: inherit;
    max-width: inherit;
}

.vert-nav a:hover {
    color: white;
    text-decoration: none;
    background-color: navy;
}
