.events-page {
    position: relative;
    display: block;
    justify-content: center;
    margin: auto;
    border-right: solid #eee 2px;
    border-left: solid #eee 2px;
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 100%;
    max-height: 100%;
}

.xioudown-banner {
    background: linear-gradient(to right,
    rgba(224,224,224,1),
    rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1), rgba(30,65,110,1),
    rgba(224,224,224,1)) center no-repeat;
    padding: 90px 0 100px 0;
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    .upcoming-calendar {
        width: 100%;
        max-width: 1200px;
        min-width: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 767px) and (min-width: 567px) {
    .upcoming-calendar {
        margin-top: 50px;
        width: 100%;
        min-width: 567px;
        max-width: 767px;
    }
}

@media only screen and (max-width: 567px) {
    .upcoming-calendar {
        margin-top: 25px;
        width: 100%;
        min-width: 0;
        max-width: 576px;
        height: 100%;
        max-height: 350px;
    }
}
