.home {
    position: relative;
    display: block;
    justify-content: center;
    margin: auto;
    border-left: solid #eee 7px;
    border-right: solid #eee 7px;
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 100%;
    max-height: 100%;
}

.home-header {
    padding: 15px;
    margin: auto;
}

.featured-event-info {
    box-shadow: 2px 2px 2px 4px gray;
    background-color: #1e416e;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
}